*{
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: 'Special Elite', cursive;
	background-image: url(https://ctl.s6img.com/society6/img/mUS0L-0x2kk3RNFA0PUOk8iljVU/w_700/coffee-mugs/swatch/~artwork,fw_4600,fh_2000,iw_4600,ih_2000/s6-original-art-uploads/society6/uploads/misc/582c9a1be86b4195b579b40e4b49e04e/~~/moon-swing41766-mugs.jpg); 
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
}

ul {
	margin: 10px;
	padding: 10px;
	justify-content: center;
	list-style-type: none;
	display: flex;
	color: white;	
}

li {
	margin: 5px;
	padding: 3px;
	font-size: 14px;

}

h1 {
	display: flex;
	color: white;
	justify-content: center;
}

h2 {
	display: flex;
	justify-content: center;
	letter-spacing: 7px;
	font-size: 14PX;
	font-style: thin;
}

button {
	color: white;
	font-family: 'Special Elite', cursive;
	border-style: none;
	padding: 10px;
	border-left: 3px solid white; 
	background-color: black;
}

i {
	padding: 10px;
}

footer {
	margin-bottom: 0px;
}

.codecat {
	justify-content: flex-end;
	margin-top: 70px;
	margin-right: 20px;
	width: 150px;
	height: 150px;
}

.codecat:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#contact{
	background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1605/Full_moon_dark_mountains-2016_High_Quality_HD_Wallpaper_1366x768.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
}

.motto{
	display: flex;
	justify-content: center;
	margin: 50px;
}

.social-profile {
	margin-top: 10px;
	margin-left: 300px;
	align-items: center;
}

.profile-download {
	margin-top: -100px;
	margin-left: 260px;
	font-size: 14px;
}

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
